

/* .title{
  
  color:#fc8403;
  background-color:#34c9eb;
  border-radius: 10px;
  

} */
.image{
  border-radius: 20px;
}
.description{
  background-color:#fc8403;
  font-weight: 500;
  border-radius: 20px;
}
.image{
  border-radius: 20px;
}
.firstrow{
  height: 500px;
}
.third-row{
  color:black;
  font-weight: 700;
  font-size: xx-large;
  font-family: inherit;
  height: 160px;
 }
 .second-row{
  
  height: 100px;
 


}
.first-row{
  
  height: 300px;
 
}
.Ing {
  font-weight: 200;
  font-size: x-large;
  font-weight: bold;
  color: rgb(43, 174, 226);
}
.navbar-brand{
  color: rgb(255, 60, 0);
}



